---
import Layout from "@components/Layout.astro";
import { getAppVersion } from "@lib/utils/version";

const appVersion = getAppVersion();
---

<Layout title="Home">
	<main class="p-6">
		<div class="flex justify-center items-center">
			<h1 class="text-white text-2xl md:text-3xl">
				Welcome to the Namik-DDNS
			</h1>
		</div>
		<p class="text-white text-xl md:text-2xl text-center items-center flex justify-center mt-10">
			Version {appVersion}
		</p>
	</main>
</Layout>
