---
import Icon from "./Icon.astro";
import "@fontsource/poppins";
import { getAppConfig } from "../lib/appConfig";
import { getCookieValue } from "../lib/cookies";

let appConfig = null;

try {
    appConfig = getAppConfig();
} catch (error) {
    console.error("Failed to fetch app-config:", error);
}

// Check if web registration is enabled
const enableWebRegistration = appConfig?.enable_web_registration === 1;

const cookies = Astro.request?.headers.get("cookie") || "";

const isSuperAdmin = getCookieValue(cookies, "superadmin_cookie");
const isAdmin = getCookieValue(cookies, "admin_cookie");

let isAdminOrSuperAdmin = isSuperAdmin || isAdmin;

// Check if the first_time_setup is 0 (false)
const showSetupNav = appConfig?.first_time_setup === 1;
---

<style>
    nav a {
        font-family: "Poppins", sans-serif;
    }
</style>

<nav class="bg-[#2C3333] p-4 flex flex-wrap justify-between items-center">
    <a
        href="/"
        class="text-white text-xl font-semibold w-full sm:w-auto mb-4 sm:mb-0"
    >
        Namik-DDNS
    </a>

    <div class="flex flex-wrap gap-4 w-full sm:w-auto">
        <a
            href="/"
            class="flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
        >
            <Icon name="house" size={18} class="mr-2" />
            <span>Home</span>
        </a>

        <a
            href="/spec"
            class="flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
        >
            <Icon name="file-text" size={18} class="mr-2" />
            <span>Spec</span>
        </a>

        {
            showSetupNav && (
                <a
                    href="/setup"
                    class="flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
                >
                    <Icon name="read-cv-logo" size={18} class="mr-2" />
                    <span>Setup</span>
                </a>
            )
        }

        <a
            href="/dashboard"
            class="dashboard-link flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
        >
            <Icon name="gauge" size={18} class="mr-2" />
            <span>Dashboard</span>
        </a>

        <a
            href="/admin"
            class={isAdminOrSuperAdmin
                ? "admin-link flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
                : "admin-link hidden"}
        >
            <Icon name="squares-four" size={18} class="mr-2" />
            <span>Admin</span>
        </a>

        <button
            data-logout
            class="logout-button flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
        >
            <Icon name="sign-out" size={18} class="mr-2" />
            <span>Logout</span>
        </button>

        <a
            href="/login"
            class="login-link flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
        >
            <Icon name="sign-in" size={18} class="mr-2" />
            <span>Login</span>
        </a>

        {
            enableWebRegistration && (
                <a
                    href="/register"
                    class="register-link flex items-center bg-[#3E7059] text-gray-100 hover:bg-[#2b5944] px-4 py-2 rounded-md"
                >
                    <Icon name="user-plus" size={18} class="mr-2" />
                    <span>Register</span>
                </a>
            )
        }
    </div>
</nav>

<script>
    import { initNavbarSessionCheck } from "../scripts/navbarSessionCheck";
    initNavbarSessionCheck();

    import { initLogoutButton } from "../scripts/logoutButton";
    document.addEventListener("astro:page-load", initLogoutButton);
</script>
